#usclogo
{
	width: 55%;
}

#digitrepo
{
    width: 100%;
    height: 350px;
}
	
input[type=text], input[type=password], input[type=email] 
{
	padding: 6px;
	border: none;
	background: #f1f1f1;
	font-family: Century; 
	width: 100%;
}
